<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./WEB-INF/template.xhtml">

            <ui:define name="content">
                <!--
                content
                -->
                <h:dataTable value="#{customerSessionBean.customers}" var="c">
                <h:column>#{c.name}</h:column>
                <h:column>#{c.customerId}</h:column>
                </h:dataTable>
            </ui:define>

        </ui:composition>

    </body>
</html>
